<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>chatapp</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/assets/fonts/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/assets/css/Login-Form-Basic.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/assets/css/Register-form.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/assets/css/styles.css')}}">
</head>

<body>
    <div id="chat-container">
        <div id="message-container">
            {% for i in IMs %}
            <div class="IM-container" id="IM-{{ i.log_id }}">
                <div class="IMs">{{ i.username }}: {{ i.IM }}<br/><div class="timestamp">{{ i.created_date }}</div></div>
                <div class="trash-icon-container"><img onclick="deletemessage({{ session['user'].userid }}, {{ i.log_id }})" src="{{url_for('static', filename='/assets/images/garbage-gbf321eba2_1280.png')}}" alt="Trash icon" /></div>
            </div>
            {% endfor %}
        </div>
        <div id="textholder">
            <input id="message-input" type="textarea" />
            <button type="button" id="send">Send</button>
            <a href="{{ url_for('main') }}">&larr;</a>
        </div>
    </div>
    <script src="{{url_for('static', filename='/assets/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> 
    <script>
        const socket = io.connect('http://' + document.domain + ':' + location.port, {
            reconnection: true,
            reconnectionDelay: 50000,
            transports: ['websocket', 'polling'],
            withCredentials: true
        });

        socket.on('connect', function() {
            socket.emit('join_room', {
                chatid: "{{ id }}",
                userid: "{{ session['user'].userid }}",
                username: "{{ session['user'].username }}"

            })
        });

        socket.on('join_room_announcement', function(data) {
            if (data.username !== "{{ session['user'].username }}") {
                $('#message-container').append(
                    '<div>' + data.username + ' is active in the chat.</div>'
                )
            }
        });

        socket.on('leave_room_announcement', function (data) {
            $('#message-container').append(
                    '<div>' + data.username + ' is no longer active in the chat.</div>'
            )
        });

        

        // Click send button if enter key is pressed
        $(document).on('keypress', function(e) {
            if(e.which === 13) {
                $('#send').click();
            }
        });

        $(function () {

            $('#send').click(function () {
                let message = $('#message-input').val();  
                if(message){
                    socket.emit('send_message', {
                        chatid: "{{ id }}",
                        userid: "{{ session['user'].userid }}",
                        username: "{{ session['user'].username }}",
                        message: message
                    })
                    $('#message-input').val('')
                } 
            })

        });

        socket.on('receive_message', function(data) {
            $('#message-container').append(
                '<div>' + data.username + ': ' + data.message + '</div>'
            )
        });

        function deletemessage(user, id) {
            socket.emit('delete_message', {
                userid: user,
                logid: id
            })
            let deleteIM = $("#IM-"+id);
            deleteIM.empty();
        };

        window.onbeforeunload = function (data) {
            socket.emit('leave_room', {
                chatid: "{{ id }}",
                userid: "{{ session['user'].userid }}",
                username: "{{ session['user'].username }}"
            })
        };
    </script>
</body>

</html>