<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>chatapp</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/assets/fonts/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/assets/css/Login-Form-Basic.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/assets/css/Register-form.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/assets/css/styles.css')}}">
</head>

<body>
    <div class="rf-register-form">
        <form class="rg-form" action="/register" method="post">
            <h2>Register form</h2>
            <div>{{ msg }}</div>
            <div class="rf-input-container"><i class="fa fa-star fa fa-user rf-icon"></i><input class="form-control rf-input-field" type="text" placeholder="First Name" name="firstname" required></div>
            <div class="rf-input-container"><i class="fa fa-star fa fa-user rf-icon"></i><input class="form-control rf-input-field" type="text" placeholder="Middle Name" name="middlename"></div>
            <div class="rf-input-container"><i class="fa fa-star fa fa-user rf-icon"></i><input class="form-control rf-input-field" type="text" placeholder="Last Name" name="lastname" required></div>
            <div class="rf-input-container"><i class="fa fa-star fa fa-user rf-icon"></i><input class="form-control rf-input-field" type="text" placeholder="Username" name="username" required></div>
            <div class="rf-input-container"><i class="fa fa-star fa fa-envelope rf-icon"></i><input class="form-control rf-input-field" type="email" placeholder="Email" name="email" required></div>
            <div class="rf-input-container"><i class="fa fa-star fa fa-key rf-icon"></i><input class="form-control rf-input-field" type="password" placeholder="Password" name="password" required></div>
            <button class="btn btn-primary rf-btn" type="submit">Register</button>
        </form>
    </div>
    <script src="{{url_for('static', filename='/assets/bootstrap/js/bootstrap.min.js')}}"></script>
</body>

</html>