body{
    height: 100vh;
}
#main-middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:85%;
}
#active-chats-container {
    height:45%;
    width:35%;
    font-size:1.5em;
    margin:auto;
}
#active-chats{
    height:80%;
    width:100%;
    border:2px solid black;
    border-radius:3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
#active-chats::-webkit-scrollbar {
    width: 10px;
}
#active-chats::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
#active-chats::-webkit-scrollbar-thumb {
    background: #484848;  
    border-radius: 10px;
}
#active-chats::-webkit-scrollbar-thumb:hover {
    background: black; 
}
#online-users-container{
    height:45%;
    width:35%;
    font-size:1.5em;
    margin:auto;
}
#online-users{
    height:80%;
    width:100%;
    border:2px solid black;
    border-radius:3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
#online-users::-webkit-scrollbar {
    width: 10px;
}
#online-users::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
#online-users::-webkit-scrollbar-thumb {
    background: #484848; 
    border-radius: 10px;
}
#online-users::-webkit-scrollbar-thumb:hover {
    background: black; 
}
.online-user-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height:20%;
    width:100%;
}
.online-user-icon {
    /*width:20%;*/
    height: 100%;
}

button.online-user-icon{
    border:none;
    background-color: transparent;
    
}
.online-user-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.online-user-name {
    /*width: 50%;*/
}
#chat-container{
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
}
#message-container{
    height: 50%;
    width: 50%;
    border: 1px solid black;
    border-radius: 3px;
    overflow-y: auto;
}
#message-container::-webkit-scrollbar {
    width: 10px;
}
#message-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
#message-container::-webkit-scrollbar-thumb {
    background: #484848; 
    border-radius: 10px;
}
#message-container::-webkit-scrollbar-thumb:hover {
    background: black; 
}
.IM-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 40%;

}
.IMs{
    width:90%;
    height: 100%;
}
.trash-icon-container{
    width:25px;
    height:2%;
}
.trash-icon-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.timestamp{
    font-size:0.7em;
}
#textholder{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#textholder button {
    width:15%;
    margin:auto;
}